.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-link a {
  font-size: 30px !important;
  font-family: Georgia !important;

}

#navlink-link{
  font-family: Georgia;
  font-size: 25px;
  padding: 50px;
}


#full-navbar{
  background: #ff4b1f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-bottom: 0;
}




#headlines{
  text-align: center;
  color: black;
  font-family: 'Baloo 2', cursive;
  font-size: 8vh;
}


#welcome-header{
  font-family: Georgia;
  text-align: center;
  background-color: black;
  opacity: .8;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  margin-top: 0;
}

#welcome-header h2{
  font-size: 40px;
  color: white;
  margin-top: 0;
}

#bar-section{
  float: right;
  padding-right: 100px;
  margin-right: 100px;
  font-family: Georgia;
  -webkit-transform:scale(0.8);
}

#icon-section{
  font-family: Georgia;
  position: relative;
  display: flex;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

#fast{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#responsive{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;


}

#dynamic{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;


}

#secondary-header-fast{
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;
}

#secondary-header-resp{
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;
}

#secondary-header-dyn{
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;
}

#tech-abilities{
  font-size: 40px;

}

.welcome-page{
  background-image: url("https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.material-icons{
  white-space: nowrap;

}

#tech-bars{
  padding-left: 15px;
}

#about-page{
  background: #ff4b1f;
  background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);
  background: linear-gradient(to right, #ff9068, #ff4b1f);
}

#wallpaper{
  position: absolute;
  height: 80vh;
  width: 100%;
  display: block;
}
