.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-link a {
  font-size: 30px !important;
  font-family: Georgia !important;

}

#navlink-link{
  font-family: Georgia;
  font-size: 30px;
  padding: 50px;
}

#navibar{
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  overflow: hidden;
}





#headlines{
  text-align: center;
  color: black;
  font-family: Georgia;
}


#welcome-header{
  font-family: Georgia;
  text-align: center;
}

#bar-section{
  float: right;
  padding-right: 100px;
  margin-right: 100px;
  font-family: Georgia;
  -webkit-transform:scale(0.8);
}

#icon-section{
  font-family: Georgia;
  display: flex;
}

#fast{
  padding: 20px;
}

#responsive{
  padding: 20px;
}

#dynamic{
  padding: 20px;
}

#secondary-header-fast{
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;
}

#secondary-header-resp{
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;
}

#secondary-header-dyn{
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;
}

#tech-abilities{
  font-size: 40px;

}

.welcome-page{
  background-image: url("https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.material-icons{
  white-space: nowrap;
}

#tech-bars{
  padding-left: 15px;
}

#about__container{
  position: relative;
}

#wallpaper{
  position: absolute;
  height: 80vh;
  width: 100%;
  display: block;
}
