body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#about-page{
  padding-top: 5px;
}

#about-icons2{
  float: left;
  padding-left: 60px;
  padding-right:60px;
}

#about-icons1{
  float: left;
  padding-left: 60px;
  padding-right: 60px;
}

#icon-section{
  text-align: center;
}

#icon-desc{
  font-size: 20px;
}

.nav-link{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 110%;
}

#navibar{
  text-align: center;
}

#headlines{
  text-align: center;
}

.material-icons{
  font-size: 70px;
}

#secondary-header{
  font-size: 30px;
}

#bar-section{
  width: 600px;
  float: right;
}

#secondary-header{
  margin-top: 0px;
}

.card-img-top{
  height: 200px;
  width: 400px;
}


#callback{
  float: left;
  padding-right: 20px;
}
